/* Add your global styles here */

.carousel-inner {
    height: 400px;
 }

 .d-block.w-100{
    object-fit: fill;
}

.counterdiv {
    background-color: #343a40;
    color: rgb(255, 0, 128);
    display: flex;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    margin: 0;
  }
  .counter {
    font-size: 70px;
  }